@import '../SASS/variables.scss';
@import '../SASS/education-view.scss';


// 🎠 LCARS CAROUSEL ☄ 

.my-carousel {
  position: relative;
  height: 350px;
  width: 500px;
  padding: $lcarsSpace;
  margin-top: 2rem;
  
  .cell-frame-title {
    position: absolute;
    top: -2rem;
    left: 0rem;
    border-radius: 1rem;
    letter-spacing: 1px;
    margin-left: 0.25rem;
    font-size: 1.5rem;
    color: $P_Yellow;
  }

  .cell-frame-len {
    position: absolute;
    top: -1.5rem;
    right: 0rem;
    border-radius: 1rem;
    margin-right: 0.25rem;
    font-size: 1.1rem;
  }
  
  .my-cell {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    transition: $lcarsTransitionSlow ease-in-out;
    
    &:hover {
      filter: hue-rotate(180deg);
    }
    
    &.angular-img {
      background-image: url('../images/education/Certificates/Angular4Cert.jpg');
    }
    &.dojo-img {
      background-image: url('../images/education/Certificates/DojoCert.png');
    }
    &.react-img {
      background-image: url('../images/education/Certificates/MasterReactCert.png');
    }
    &.redux-img {
      background-image: url('../images/education/Certificates/ReduxCert.png');
    }
    &.sass-img {
      background-image: url('../images/education/Certificates/SassCert.jpg');
    }
    &.design-1-img {
      background-image: url('../images/education/Certificates/DesignIntroCert_2.jpg');
    }
    &.es6-img {
      background-image: url('../images/education/Certificates/ES6cert.jpg');
    }
    &.ts-1-img {
      background-image: url('../images/education/Certificates/TypeScript_basic_cert.PNG');
    }
  }
  
  .speach-wrap {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 101%;
    top: 6rem;
    height: 5rem;
    width: 3rem;
    padding: $lcarsSpace 1rem $lcarsSpace $lcarsSpace;
    border-radius: 0.5rem;
    background-color: $P_darkOrange;
    
    .speach-button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      font-size: 1.33rem;
      line-height: 1;
      padding: 0.75rem 0.5rem;
      border-radius: 0rem $lcarsSpace $lcarsSpace 0rem;
      background-color: $P_lightOrange;
      color: black;
      border: $lcarsSpace solid black;
      border-left: none;
      &:hover {
        background-color: $P_lightOrange-hov;
      }
      &:active {
        background-color: $P_Yellow;
      }
    }
  }
}

// ℹ INFO 🌌 

.rel {
  position: relative;
  width: 450px;
  left: 3rem;
  .info-wrap {
    overflow: scroll;
    padding: 1.5rem;
    background-color: black;
    color: white;
    font-size: 1.75rem;
    letter-spacing: 2px;
    text-align: left;
    // border: 0.1px dotted red;
  }
  
  .logo {
    display: flex;
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    
    &.dojo-logo {
      background-image: url('../images/education/logos/DojoLogo.png');
    }
    
    &.udemy-logo {
      background-image: url('../images/education/logos/UdemyLogo.png');
    }
    
    &.mosh-logo {
      border-radius: 50%;
      background-image: url('../images/education/logos/MoshLogo.jpg');
    }
    
    &.ultimate-logo {
      border-radius: 50%;
      background-image: url('../images/education/logos/UltamiteLogo.jpg');
    }
  }
}

@media only screen and (max-width: 1200px) {
  .rel {
    left: 0rem;
  }
}

@media only screen and (max-width: 850px) {
  .my-carousel {
    height: 280px;
    width: 400px;
  }
  .rel {
    width: auto;
  }
}
