@import '../SASS/variables.scss';
@import '../SASS/education-view.scss';


// 🎠 CAROUSEL 

.my-carousel {
  position: relative;
  height: 300px;
  width: 450px;
  padding: $lcarsSpace;
  margin-top: 2rem;
  border-radius: $lcarsSpace;
  border: 0.5px dotted red;
  
  .cell-frame {
    position: absolute;
    top: -2rem;
    right: 0;
    height: 2rem;
    width: 4rem;
    border: 0.5px dotted chartreuse;
  }
  
  .my-cell {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    transition: $lcarsTransitionSlow ease-out;
    
    &.angular-img {
      background-image: url('../components/EducationView/Certificates/Angular4Cert.jpg');
      animation: image0 999ms ease-out;
    }
    &.dojo-img {
      background-image: url('../components/EducationView/Certificates/DojoCert.png');
      animation: image1 999ms ease-out;
    }
    &.react-img {
      background-image: url('../components/EducationView/Certificates/MasterReactCert.png');
      animation: image2 999ms ease-out;
    }
    &.redux-img {
      background-image: url('../components/EducationView/Certificates/ReduxCert.png');
      animation: image3 999ms ease-out;
    }
    &.sass-img {
      background-image: url('../components/EducationView/Certificates/SassCert.jpg');
      animation: image4 999ms ease-out;
    }
  }
}

@keyframes image0 {
  from {opacity: 0; filter: blur(4px) hue-rotate(0deg); transform: scale3d(0.9, 0.9, 1);}
  to {opacity: 1; filter: blur(0px) hue-rotate(360deg); transform: scale3d(1, 1, 1);}
}
@keyframes image1 {
  from {opacity: 0; filter: blur(4px) hue-rotate(0deg); transform: scale3d(0.9, 0.9, 1);}
  to {opacity: 1; filter: blur(0px) hue-rotate(360deg); transform: scale3d(1, 1, 1);}
}
@keyframes image2 {
  from {opacity: 0; filter: blur(4px) hue-rotate(0deg); transform: scale3d(0.9, 0.9, 1);}
  to {opacity: 1; filter: blur(0px) hue-rotate(360deg); transform: scale3d(1, 1, 1);}
}
@keyframes image3 {
  from {opacity: 0; filter: blur(4px) hue-rotate(0deg); transform: scale3d(0.9, 0.9, 1);}
  to {opacity: 1; filter: blur(0px) hue-rotate(360deg); transform: scale3d(1, 1, 1);}
}
@keyframes image4 {
  from {opacity: 0; filter: blur(4px) hue-rotate(0deg); transform: scale3d(0.9, 0.9, 1);}
  to {opacity: 1; filter: blur(0px) hue-rotate(360deg); transform: scale3d(1, 1, 1);}
}

// ℹ INFO 

.info-wrap {
  position: relative;
  height: 300px;
  overflow: scroll;
  width: 450px;
  padding: $lcarsSpace;
  margin-top: 2rem;
  border-radius: $lcarsSpace;
  font-size: 3rem;
  border: 0.5px dotted red;
}

.logo {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  height: 2rem;
  width: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  
  &.dojo-logo {
    background-image: url('../components/EducationView/logos/coding_dojo_logo_gray.png');
  }
  
  &.udemy-logo {
    background-image: url('../components/EducationView/logos/4._Partner_Icons_-_Udemy.png');
  }
  
  &.mosh-logo {
    border-radius: 50%;
    background-image: url('../components/EducationView/logos/code-with-mosh-logo_300pix.jpg');
  }
}

