// - primary = 
$myBlueLight: hsl(193, 95%, 58%);
$myBlue: hsl(193, 95%, 48%);
$myBlueDark: hsl(193, 95%, 38%);

// - secondary = 
$myYellowLight: hsl(54, 100%, 58%);
$myYellow: hsl(54, 100%, 48%);
$myYellowDark: hsl(54, 100%, 38%);

// - complementary = 
$myRed: hsl(336, 78%, 48%);
$myGreen: hsl(108, 100%, 48%);
$myPurple: hsl(275, 100%, 48%);
$myOrange: hsl(13, 100%, 48%);


$myIce: hsla(0, 0%, 100%, 0.15);