// - primary = 
$myBlue: hsl(193, 95%, 68%);
// - secondary = 
$myYellow: hsl(54, 100%, 67%);
// - complementary = 
  $myRed: hsl(336, 78%, 46%);
  $myGreen: hsl(170, 100%, 50%);
  $myPurple: hsl(275, 100%, 48%);
  $myOrannge: hsl(13, 100%, 64%);