// - primary = 
$myBlue: rgb(96, 217, 251);
// - secondary = 
$myYellow: hsl(54, 100%, 67%);
// - complementary = 
  $myRed: hsl(336, 78%, 46%);
  $myGreen: hsl(108, 100%, 68%);
  $myPurple: hsl(275, 100%, 48%);
  $myOrange: #ff6f47;

  // DARK ALL HSL -20% DARK

    $myIce: hsla(0, 0%, 100%, 0.15);

    $BG_light: rgba(2, 1, 24, 0.9);