@import 'variables.scss';

@font-face {
  font-family: 'Ac437 Acer VGA 8x8';
  src: url('../config/Ac437_Acer_VGA_8x8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// new keyframes 

@keyframes myDelay {
  from {opacity: 0;}
  to {opacity: 0;}
}

@keyframes myFade {
  from {opacity: 0;}
  33% {opacity: 0.1;}
  to {opacity: 1;}
}

@keyframes mySlideUpLong {
  from {transform: translateY(20vh);}
  to {transform: translateY(0vh);}
}

@keyframes mySlideUpShort {
  from {transform: translateY(5vh);}
  to {transform: translateY(0vh);}
}

@keyframes mySlideDownLong {
  from {transform: translateY(-20vh);}
  to {transform: translateY(0vh);}
}

@keyframes mySlideDownShort {
  from {transform: translateY(-5vh);}
  to {transform: translateY(0vh);}
}


/* --- < MainView /> - */
.mainViewContainer {
  margin-top: 1.5rem;
  text-align: left;
}
/* ------------------- */
/* --- < Social /> --- */
.socialRow {
  margin-bottom: 1rem;
}
.socialWraps {
  margin-bottom: 0rem;
  padding-top: 0.1rem;
  background-color: $myIce;
  border-radius: $myBorderRadius;
  animation: 
    mySlideUpLong 1.5s ease-out,
    myFade 1.75s ease-in;
  transition: $myTrans;
}
.socialWraps:hover {
  background-color: $myClear;
}

@media only screen and (max-width: 650px) {
  .socialWraps {
    margin-bottom: 0.25rem!important;
  }
}
.socialIcons {
  color: white;
}
.socialLinks {
  text-decoration: none;
  color: $myBlue;
  transition: $myTrans;
}
.social-stagg-0 {
  animation: 
    myDelay 1s,
    myFade 0.75s ease-in 1s;
}
.social-stagg-1 {
  animation: 
    myDelay 1.5s,
    myFade 0.75s ease-in 1.5s;
}
.social-stagg-2 {
  animation: 
    myDelay 2s,
    myFade 0.75s ease-in 2s;
}

.socialLinks:hover {
  color: cornsilk;
  text-decoration: none;
}
.socialLinks:after {
  display: block;
  content: '';
  border-bottom: solid 0.05rem $myBlueLight;
  transform: scaleX(0);
  transition: transform $myTrans ease-in-out;
}
.socialLinks:hover:after {
  transform: scaleX(1);
  transform-origin:  100% 50%;
}
.contactBtnPlaceholder{
  width: 290px;
  height: 35px;
  margin-bottom: 0.5rem;
}
.contactBtn {
  display: inline-block;
  margin-bottom: 0.5rem;
  border-radius: $myBorderRadius;
  font-size: 1.25rem;
  width: 290px;
  height: 35px;
  color: cornsilk;
  transition: $myTrans;
  animation: neon 8s ease 2s infinite;
}
@keyframes neon {
  0% {color: cornsilk;}
  0.25% {color: black;}
  0.5% {color: cornsilk;}
  0.75% {color: black;}
  1% {color: cornsilk;}
  1.25% {color: black;}
  1.5% {color: cornsilk;}
  1.75% {color: black;}
  20% {color: $myBlue;}
  28.5% {color: black;}
  29.5% {color: white;}
  30% {color: cornsilk;}
  40% {color: cornsilk;}
  80% {color: cornsilk;}
  100% {color: cornsilk;}
}
.contactBtn:hover {
  text-decoration: none;
  background-color: $myIce;
}
.contactBtn:hover::after {
  content: '\2728';
  color: cornsilk!important;
  animation: contact-arrow $myTrans ease-out forwards;
}
@keyframes contact-arrow {
  from {margin-left: 0rem; font-size: 1.25rem;}
  50% {font-size: 1.75rem;}
  to {margin-left: 3rem; font-size: 0rem;}
}
svg {
  position: absolute;
  fill: none;
  stroke: cornsilk;
  stroke-dasharray: 260 7000;
  stroke-dashoffset: 260;
  transition: 2s ease-in-out;
  animation: svgOutline 4s ease-in-out infinite;
}
@keyframes svgOutline {
  from {stroke-dashoffset: 260;}
  to {stroke-dashoffset: -7000;}
}
.mailIcon {
  animation: neon 8s ease 2s infinite;
}
.contactBtn:focus,.contactBtn:active {
  outline: none !important;
  box-shadow: none!important;
}
/* ------------------- */
/* --- < Title /> ---- */
.title-row {
  padding-top: 1.5rem;
  margin-bottom: 7rem;
  text-align: center;
}
@media only screen and (max-width: 905px) {
  .title-row {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 550px) {
  .title-row {
    padding-top: 2.5rem;
    margin-bottom: -0.5rem;
  }
}
.title-col {
  padding: 0px!important;
}
.titleName {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif!important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 0.9!important;
  font-size: 12vw;
  font-weight: 900;
  -webkit-box-reflect: below -7px linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.4));
  animation: 
    mySlideDownShort 1.5s ease-out,
    myFade 1.75s ease-in;
}

@media only screen and (max-width: 420px) {
  .titleName {
    -webkit-box-reflect: unset;
  }
}

.titleSub {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  color: $myBlue;
  letter-spacing: 1.5vw;
  font-size: 2.5vw;
  font-weight: 700;
  
  // for shimmer keyframes 
  overflow: hidden;
  background: linear-gradient(90deg, transparent, $myBlue, transparent);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  // 
  transform: scaleY(1.1);

  animation: 
    myDelay 0.25s,
    shimmerText 5.75s linear infinite 0.25s,
    myFade 0.25s ease-in 0.25s;
}

@keyframes shimmerText {
  0% {background-position: -500%;}
  100% {background-position: 500%;}
}

/* title text break */
@media only screen and (max-width: 992px) {
  .titleName {
    font-size: 15vw;
  }
  .titleSub {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 550px) {
  .titleSub {
    font-size: 3.25vw;
    transform: scaleY(1.5);
  }
}
/* blinking " I " */
.titleNameSpec {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block!important;
}
.yellowWar {
  display: inline-block!important;
  cursor: none!important;
}
.blinky {
  animation: blink 8s ease 2s infinite;
}
.blinky:hover {
  animation: none;
  color: black;
}
@keyframes blink {
  0% {color: cornsilk;}
  0.25% {color: black;}
  0.5% {color: cornsilk;}
  0.75% {color: black;}
  1% {color: cornsilk;}
  1.25% {color: black;}
  1.5% {color: cornsilk;}
  1.75% {color: black;}
  20% {color: $myBlue;}
  28.5% {color: black;}
  29.5% {color: white;}
  30% {color: cornsilk;}
  40% {color: $myYellow;}
  80% {color: $myYellow;}
  100% {color: cornsilk;}
}
/* ------------------- */
/* --- < Bio /> ------ */
.open-base-border-tops {
  &:hover {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 66%;
      width: 8%;
      height: 0.05rem;
      border-radius: 10%;
      background: $myBlue;
      box-shadow: 0px 0px 8px 2px #29d1ff;
      animation: 
        myDelay 0.25s,
        myFade 0.25s ease-in 0.25s;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 10%;
      width: 29%;
      height: 0.05rem;
      border-radius: 10%;
      background: $myBlue;
      box-shadow: 0px 0px 8px 2px #29d1ff;
      animation: 
        myDelay 0.5s,
        myFade 0.25s ease-in 0.5s;
    }
  }
}
.open-base-border-bottoms {
  &:hover {
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 79%;
      width: 12%;
      height: 0.05rem;
      border-radius: 10%;
      background: $myBlue;
      box-shadow: 0px 0px 8px 2px #29d1ff;
      animation: 
        myDelay 1s,
        myFade 0.25s ease-in 1s;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 24%;
      width: 27%;
      height: 0.05rem;
      border-radius: 10%;
      background: $myBlue;
      box-shadow: 0px 0px 8px 2px #29d1ff;
      animation: 
        myDelay 0.75s,
        myFade 0.25s ease-in 0.75s;
    }
  }
}

.bioWrap {
  cursor: none;
  margin-top: 1.5rem;
  backface-visibility: hidden;
  transform-origin: 50% 0%;
  animation: 
    mySlideDownShort 1.5s ease-out,
    myFade 1.75s ease-in;
}

.mySelf {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 10vw;
  margin: 1rem;
  clip-path: $myPloygonX;
  border-radius: $myPloygonBorderRadius;
  filter: brightness(120%);
  animation: 
    myDelay 1.75s,
    myFade 0.75s ease-in 1.75s;
}

.selfWrap {
  outline: none!important;
  filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.65));
  animation: light-bright 3.4s ease-in-out;
}
@keyframes light-bright {
  from {filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.5));}
  60% {filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.5));}
  80% {filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 1));}
  to {filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.65));}
}
.magic {
  color: $myPurple;
  transform: rotate(24deg);
  animation: magic $myTrans ease-in;
}
@keyframes magic {
  from {color: white; transform: rotate(0deg);}
  to {color: $myPurple; transform: rotate(24deg);}
}
.magic-out {
  color: white;
  transform: rotate(0deg);
  animation: magic-out $myTrans ease-out;
}
@keyframes magic-out {
  from {color: $myPurple; transform: rotate(24deg);}
  to {color: white; transform: rotate(0deg);}
}
.quote {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: none;
  letter-spacing: 0.6vw;
  font-size: 1.5vw;
  font-weight: 300;
  text-align: left;
  border-radius: $myBorderRadius;
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.2;
  background-color: $myIce;
}

@media only screen and (max-width: 905px) {
  .quote {
    letter-spacing: 0.4vw;
    font-size: 2.3vw;
  }
  .mySelf {
    width: 12vw;
  }
}
@media only screen and (max-width: 650px) {
  .quote {
    letter-spacing: 0.3vw;
    font-size: 4vw;
  }
  .mySelf {
    width: 20vw;
  }
}
/* BIO NEW ROLE */
.newRole {
  cursor: default!important;
  font-weight: bold;
  transition: $myTrans;
}
.newRole:hover {
  background-color:  $myOrangeTrans!important;
}
.laptop {
  font-weight: bold;
  transition: $myTrans;
}
.newRole:hover > .laptop {
  color:  $myOrange;
}
.angular8 {
  border-radius: 0%!important;
  clip-path: none!important;
}
.via3 {
  color: cornsilk;
  background-color: $myIce;
  border-radius: $myBorderRadius;
  transition: $myTrans;
}
.via3:hover {
  text-decoration: none!important;
  background-color: $myClear;
  color: $myOrange;
  font-weight: bold!important;
}
/*  BIO THE CUBE */
.theCube {
  cursor: default!important;
  transition: $myTrans;
}
.theCube:hover {
  background-color: $myGreenTrans!important;
}
.cube {
  transition: $myTrans;
}
.cube::after {
  content: '';
  color: white!important;

}
.theCube:hover > .cube::after {
  content: '';
  animation: dots 1.2s infinite;
}
@keyframes dots {
  0% {content: '';}
  25% {content: ' .';}
  50% {content: ' . .';}
  75% {content: ' . . .';}
}
.theCube:hover > .cube {
  color:  $myGreen;
}
.theCube:hover > .enterCube {
  border: 5px solid white;
}
.enterCube {
  color: white;
  font-size: small!important;
  font-weight: bold!important;
  border-radius: $myBorderRadius;
  border: 5px solid $myIce;
  transition: $myTrans;
}
.enterCube:hover {
  text-decoration: none!important;
  color: white;
  background-color: $myIce;
  border: 5px solid $myGreen!important;
}
/* BIO FREELANCE */
.freelance {
  cursor: default!important;
  transition: $myTrans;
}
.freelance:hover {
  background-color:  $myRedTrans!important;
}
.freelanceIcon {
  transition: $myTrans;
}
.freelance:hover > .freelanceIcon {
  color: $myRed;
}
.leisure {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: $myIce;
  transition: $myTrans;
}
.freelance:hover > .leisure {
  color: white;
}
.myLeisureFace {
  opacity: 0.1;
  transition: $myTrans;
}
.freelance:hover > .myLeisureFace {
  opacity: 1;
}
/* ------------------- */
/* ---main loader----- */

/* The typing effect */
@keyframes typing-loader {
  from { width: 0; word-break: initial;}
  to { width: 100%; word-break: initial;}
}

/* The typewriter cursor effect */
@keyframes blink-caret-loader {
  from, to { border-color: transparent }
  50% { border-color: $myBlue; }
}

// 
.my-loader {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.5rem solid $myBlue; /* The typwriter cursor */
  // white-space: nowrap; /* Keeps the content on a single line */
  word-break: break-all;

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  
  position: absolute;
  top: 50%;
  left: 0px;

  display: flex;
  width: 100%;
  color: $myBlue;
  font-size: 2.25rem;
  font-family: 'Ac437 Acer VGA 8x8';
  animation: 
  typing-loader 2.75s steps(40, end),
  blink-caret-loader .75s step-end infinite;
}

@media only screen and (max-width: 650px) {
  .my-loader {
    font-size: 1.25rem;
  }
}
/* ------------------- */

/* ---mouse ghost----- */
#mouseGhost {
  background-image: url('../images/mouse-ghost.gif');
  background-size: cover;
  opacity: 0.5;
  filter: blur(0px);
  transform: scale(1);
  animation: ghost 1.2s ease-in-out;
}
@keyframes ghost {
  from {opacity: 0; filter: blur(12px); transform: scale(0.4);}
  50% {opacity: 1; filter: blur(0px); transform: scale(1.6);}
  to {opacity: 0.5; transform: scale(1);}
}
/* --------------------------------------------------------------- */