@import '../SASS/variables.scss';

// featured projects 
.pro-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5rem;
  flex-direction: row;
  flex-wrap: wrap;
  
  .featured-projects-title {
    text-shadow: 2px 2px 1px black, 3px 3px 1px $myBlue;
    padding: 0.25rem 0.75rem 0.75rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    width: fit-content;
  }
  
  .pro-col {
    .pro-card {
      display: flex;
      width: 825px;
      flex-direction: column;
      align-items: center;
      
      .pro-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0rem 0.25rem;
        
        a {
          text-decoration: none;
          color: cornsilk;
        }
      }
      
      .i-wrap {
        height: 425px;
        width: 825px;
        background-color: white;
        
        iframe {
          border: none;
          height: 425px;
          width: 825px;
        }
      }
    }
  }
}

// git repos 
.git-row {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50vh;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  
  &::before {
    content: '';
    position: sticky;
    z-index: -1;
    top: 0rem;
    height: 100vh;
    width: 100%;
    background-image: url('../images/projects/git-foot.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
  
  .git-repos-title {
    text-shadow: 2px 2px 1px black, 3px 3px 1px $myBlue;
    padding: 0.25rem 0.75rem 0.75rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    width: fit-content;
  }
  
  .git-stats {
    display: flex;
    flex-direction: column;
    
    img {
      width: 50%;
      margin: 0rem auto 2rem auto;
    }
  }
  
  .git-pinned-col {
    //
    
    .git-pinned-card {
      padding: 0.5rem;
      border: 2px solid white;
      background-color: black;
      color: white;
      background-image: url('../images/projects/Octocat.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 100vh;
      transition: 0.4s;
      
      &::before {
        content: '';
        position: absolute;
        height: 96%;
        width: 98%;
        z-index: 0;
        top: 0.25rem;
        left: 0.25rem;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.8s;
      }
      
      &:hover {
        text-decoration: none;
        background-position: 0% 30%;
        
        &::before {
          background-color: rgba(0, 0, 0, 0.7);
        }
        
        .octo-cat {
          top: 0rem;
        }
        
        .text-wrap {
          .sparkle {
            opacity: 1;
            transform: scale3d(1,1,1) rotate(0deg);
          }
          .card-title {
            strong {
              color: $myYellow;
            }
          }
          .card-url {
            span {
              color: $myBlue;
            }
            i {
              opacity: 1;
            }
          }
          
          .card-info {
            .card-desc {
              color: $myRed;
            }
          }
        }
      }
      
      .octo-cat {
        position: absolute;
        height: 60px;
        width: 60px;
        background-image: url('../images/projects/Octocat.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 45% 55%;
        top: -2.75rem;
        background-color: $myYellow;
        border-radius: 50%;
        z-index: -1;
        transition: 0.2s;
      }
      
      .text-wrap {
        position: relative;
        .sparkle {
          position: absolute;
          font-size: 1.25rem;
          opacity: 0;
          transform: scale3d(0,0,1) rotate(360deg);
          transition: 0.4s;
        }
        .card-title {
          strong {
            transition: 0.2s;
          }
        }
        .card-url {
          transition: 0.2s;
          span {
            transition: 0.2s;
          }
          i {
            display: block;
            font-size: 1.25rem;
            font-weight: bold;
            opacity: 0;
            transition: 0.2s;
          }
        }
        
        .card-info {
          .card-desc {
            text-shadow: 1px 1px 1px black;
            transition: 0.2s;
          }
        }
      }
    }
  }
  
  .git-col {
    display: flex;
    
    .git-card { // <a/>
      color: black;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      width: 100%;
      backface-visibility: hidden;
      will-change: transform;
      background-image: url('../images//projects/Octocat.png');
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      box-shadow: 2px 2px 2px 2px transparent;
      transition: transform 0.2s, box-shaddow 0.2s, background-color 0.3s, background-size 0.3s steps(3000), filter 0.4s;
      
      &:hover { 
        text-decoration: none;
        transform: translate3d(0,-0.25rem,0);
        box-shadow: 2px 2px 2px 2px black;
        filter: drop-shadow(1px 2px 10px cornsilk);
        background-size: 30%;
        background-color: rgb(241, 241, 241);
        
        &::before {
          opacity: 1;
          transition: 0.4s;
        }
        
        .card-url {
          color: $myPurple;
          span {
            i {
              opacity: 1;
            }
          }
        }
      }
      
      &::before {
        content: 'github_code_repo';
        position: absolute;
        top: 0px;
        right: 5px;
        color: $myPurple;
        font-size: 0.75rem;
        opacity: 0;
        transition: 0.4s;
      }
      
      .card-title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 1px solid;
        padding-bottom: 0.25rem;
        
        .git-logo {
          font-size: 2.5rem;
        }
      }
      
      .card-url {
        transition: 0.2s;
        span {
          i {
            display: block;
            font-size: 1.25rem;
            font-weight: bold;
            opacity: 0;
          }
        }
      }
      
      .card-info {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
      
      .card-dates {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 0.25rem;
      }
    }
  }
}

// mobile view 
@media only screen and (max-width: 850px) {
  .pro-row {
    .pro-col {
      .pro-card {
        width: 325px;
        .pro-title {
          flex-direction: column;
          padding: 0rem 0.25rem 1rem 0.25rem;
        }
        .i-wrap {
          height: 425px;
          width: 325px;
          background-color: white;
          
          iframe {
            border: none;
            height: 425px;
            width: 325px;
          }
        }
      }
    }
  }
  .git-row {
    .git-stats {
      img {
        width: 75%;
        margin: 0rem auto 2rem auto;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .git-row {
    
    &::before {
      height: 80vh;
      background-size: 215%;
      background-position: 100% 0%;
    }
  }
  
  .git-row {
    .git-stats {
      img {
        width: 100%;
        margin: 0rem auto 2rem auto;
      }
    }
  }
}

// 🔥🔥🔥 //