@import '../SASS/variables.scss';

@font-face {
  font-family: 'Ac437 Acer VGA 8x8';
  src: url('../config/Ac437_Acer_VGA_8x8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// main container 
.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0.25rem!important;
  padding-left: 0;
}

.tech-main-wrap {
  user-select: none;
  font-family: 'Ac437 Acer VGA 8x8';
  letter-spacing: 0.2rem;
  text-align: left;
  color: $myGreen;
  background-color: black;
  padding-top: 0.25rem;
  padding-bottom: 20vh;
  filter: blur(0.5px);
}

// main titles * need REL & ABS POS for to make the text grow from left ! <-----<<< {|
.dos-title-wrap {
  position: relative;
  left: 0px;
  margin-bottom: 3rem;
}
.dos-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .25rem solid transparent; /* The typwriter cursor */

  // white-space: nowrap; /* Keeps the content on a single line */
  word-break: break-all;
  
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  position: absolute;
  top: 0px;
  left: 0px;

  // *| ANYTHING WITH THIS ANIMATION NEEDS ALL PROPS IN THIS CLASS |* // <-----------------<<<<< {|
  animation: 
    typing-title 3.5s steps(40, end),
    blink-caret .75s step-end 8;
}

/* The typing effect */
@keyframes typing-title {
  from { width: 0; word-break: initial;}
  to { width: 100%; word-break: initial;}
}

.dos-title-icon {
  color: $myGreen;
  font-size: 1.5rem;
  animation: dos-appear 4s;
}
@keyframes dos-appear {
  0% {font-size: 0rem;}
  90% {font-size: 0rem; color: $myGreenLight;}
  100% {font-size: 1.5rem; color: black;}
}

.tech-list-wrap {
  height: 216px;
}

// list initializer 
.list-loader {
  font-size: 0.75rem;
  font-weight: bold;
}

.list-loader::after {
  content: '';
  animation: bit-dots 0.5s infinite;
}

@keyframes bit-dots {
  0% {content: '';}
  25% {content: '.';}
  50% {content: '..';}
  75% {content: '...';}
}

// list titles 
.tech-list-title {
  cursor: default;
  color: black;
  background-color: $myGreenTransHeavy;
  animation: tech-list-title 1.75s ease-in-out;
  
  transition: 0.1s;
  &:hover {
    background-color: $myGreen;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }
}
@keyframes tech-list-title {
  from {background-color: black; color: black;}
  30% {background-color: black; color: black;}
  96% {background-color:$myGreenLight;}
  98% {background-color: $myGreenTrans;}
  to {background-color: $myGreenTransHeavy;}
}

.list-toggle {
  cursor: pointer;
  float: right;
  color: $myGreen;
  background-color: black;
  font-size: 0.75rem;
  margin-right: 0.25rem;
  padding: 0rem 0rem 0rem 0.25rem;
  animation: tech-list-title 2s ease-in-out;
}

// list items 
.tech-list-item-wrap {
  position: relative;
  // top is set with JS 
  left: 0px;
}
.tech-list-item {
  padding-left: 0.2rem;
  width: 100%;
  color: $myGreen;
  background-color: rgba(49, 245, 0, 0.25);

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .25rem solid $myGreen; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  position: absolute;
  top: 0px;
  left: 0px;

  animation: 
    typing 1.75s steps(40, end),
    blink-caret .75s step-end infinite;

  transition: 0.1s;
  &:hover {
    cursor: crosshair;
    color: $myGreenLight;
    background-color: rgba(49, 245, 0, 0.5);
    text-shadow: 2px 2px black;
    border-color: black!important;
  }
}

// bottom info 
.info-col {
  padding: 0.5rem 0.5rem 3rem 0.5rem;
  margin: 0.5rem;
  border: 0.2rem dashed hsla(108, 100%, 48%, 0.8);
  
  color: $myGreenDark;
  
  background-color: black;
  background-image: -webkit-linear-gradient(hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  -webkit-linear-gradient(left, hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  -webkit-linear-gradient(hsla(108, 100%, 68%, 0.3) 1px, transparent 1px),
  -webkit-linear-gradient(left, hsla(108, 100%, 68%, 0.3) 1px, transparent 1px);
  background-image: -moz-linear-gradient(hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  -moz-linear-gradient(left, hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  -moz-linear-gradient(hsla(108, 100%, 68%, 0.3) 1px, transparent 1px),
  -moz-linear-gradient(left, hsla(108, 100%, 68%, 0.3) 1px, transparent 1px);
  background-image: -o-linear-gradient(hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  -o-linear-gradient(left, hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  -o-linear-gradient(hsla(108, 100%, 68%, 0.3) 1px, transparent 1px),
  -o-linear-gradient(left, hsla(108, 100%, 68%, 0.3) 1px, transparent 1px);
  background-image: linear-gradient(hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  linear-gradient(to right, hsla(108, 100%, 38%, 0.4) 2px, transparent 2px),
  linear-gradient(hsla(108, 100%, 68%, 0.3) 1px, transparent 1px),
  linear-gradient(to right, hsla(108, 100%, 68%, 0.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  
  animation: fade-in-info 2.25s steps(40, end);
}
@keyframes fade-in-info {
  from {opacity: 0.3; filter: blur(12px); border: 0.2rem dashed transparent; background-color: black;}
  50% {filter: blur(0px);}
  55% {filter: invert(100%);}
  85% {filter: none; background-color: black;}
  95% {background-color: $myGreen; border: 0.2rem dashed transparent}
  to {opacity: 1; background-color: black; border: 0.2rem dashed hsla(108, 100%, 38%, 0.8)}
}
.info-col:hover {
  cursor: crosshair;
  text-shadow: 2px 2px black;
  color: $myGreenLight;
  animation: zoom 8s infinite;
}
@keyframes zoom {
  0% { background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px; }
  50% { background-size:200px 200px, 200px 200px, 40px 40px, 40px 40px;}
  100% { background-size:100px 100px, 100px 100px, 40px 40px, 20px 20px; }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $myGreen; }
}


// END all list items ----------------------------------------------------

// to display list items by category include all 4 total here
.languages-list-item {
  display: none;
}
.frameworks-list-item {
  display: none;
}
.database-list-item {
  display: none;
}
.tools-list-item {
  display: none;
}
// <..>
// for to align columns cuz of positioning

@media only screen and (max-width: 992px) {
  .tech-list-wrap {
    height: 438px;
  }
  .col-database {
    margin-top: -24px;
  }
  .col-tools {
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 576px) {
  .tech-list-wrap {
    height: 838px;
  }
  .col-database {
    margin-top: -1rem;
  }
  .col-tools {
    margin-top: -3.5rem;
  }
  .col-frameworks {
    margin-top: -2rem;
  }
}
