.myBgImage::before {
  height: 99vh;
  width: 99vw;
  content: "";
  background-image: url('../images/tech.jpg');
  background-size: cover;
  position: absolute;
  top: 90vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,0),
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0));
  transform: rotate(176deg);
  animation: fade-in-eduBg 4s;
}
@keyframes fade-in-eduBg {
  0% { opacity: 0;transform: rotate(0deg);}
  25% { opacity: 0;}
  50% { opacity: 0.1;}
  100% { opacity: 1;transform: rotate(176deg);}
}
/* ----------Education component---------------------------- */
.carouselContainer {
  transform: scale(0.95);
  animation: slide-in-left 2.5s ease-out;
}
@keyframes slide-in-left {
  0% {left: -200vw; opacity: 0; transform: scale(0);}
  50% {opacity: 0;}
  100% {left: 0px; opacity: 1; transform: scale(0.95);}
}
/* -------------------------------------- */
.courselInfoContainer {
  animation: grow 4s;
}
@keyframes grow {
  0% {opacity: 0; transform: scale(0);}
  50% {opacity: 0;}
  100% {opacity: 1; transform: scale(1);}
}
/* ------------------------------------- */
.myCertThumb {
  height: 80px!important;
  width: 140px!important;
  box-shadow: 0 0 0 1px #ffee58;
}
.myCertImg {
  margin: 0.5rem;
  height: auto!important;
  max-width: 550px!important;
  border-radius: 1%!important;
  box-shadow: 0 0 0 1px rgb(97, 218, 251);
  transition: 1s;
  cursor: pointer;
}
.myCertImg:hover {
  transform: scale(1.3);
}
.arrowIcon {
  color: rgba(97, 218, 251, 0.75);
  cursor: pointer;
  transition: ease 0.1s;
}
.arrowIcon:hover {
  color: rgb(97, 218, 251);
}
.arrowIcon:active {
  color: white;
  transform: scale(0.75);
}
.disable {
  color: black;
}
/* -----------End Education Component----------------------- */
/*  */
@media only screen and (max-width: 768px) {
  .myCertThumb {
    display: none;
  }
  .myCertImg {
    margin: 0rem;
  }
  .carouselHR {
    border-top: 1px solid rgb(97, 218, 251)
  }
}
/* ----------Dojo Component-------------------- */
.dojoTitle {
  margin-top: 3rem;
  color: rgb(97, 218, 251);
}
.dojoSub {
  line-height: 0;
}
.dojoList {
  padding-left: 0rem!important;
  margin-bottom: 25vh!important;
  align-items: center!important;
  font-size: 1.5rem;
  list-style: none;
}

@media only screen and (max-width: 420px) {
  .myCertImg {
    margin: 0rem;
  }
  .dojoList {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    padding-left: 0rem;
    padding-right: 0rem;
    list-style: none;
  }
  .myBgImage::before {
    display: none;
  }
  .carouselContainer {
    transform: scale(1);
  }
}
