/* --- < MainView /> - */
.mainViewContainer {
  margin-top: 1.5rem;
  text-align: left;
}
/* ------------------- */
/* --- < Social /> --- */
.socialRow {
  margin-bottom: 1rem;
}
.socialWraps {
  margin-bottom: 0.5rem;
  padding-top: 0.1rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.25rem;
  opacity: 1;
  animation: 2s ease-out slide-up-main;
  transition: 0.5s;
}
.socialWraps:hover {
  background-color: rgba(255, 255, 255, 0);
}
@keyframes slide-up-main {
  from {margin-top: 100vh; background-color: rgba(255, 255, 255, 1); opacity: 0;}
  25% {opacity: 0;}
  75% {background-color: rgba(255, 255, 255, 1)}
  to {margin-top: 0%; background-color: rgba(255, 255, 255, 0.15); opacity: 1;}
}
@media only screen and (max-width: 650px) {
  .socialWraps {
    margin-bottom: 0.25rem!important;
  }
}
.socialIcons {
  color: white;
  animation: 3s color-fade-in1;
}
@keyframes color-fade-in1 {
  0% {color: rgba(255, 255, 255, 0);}
  50% {color: rgba(255, 255, 255, 0);}
  100% {color: rgba(255, 255, 255, 1);}
}
.socialLinks {
  text-decoration: none;
  color: rgb(97, 218, 251);
  transition: 0.35s;
  animation: 4s color-fade-in2;
}
@keyframes color-fade-in2 {
  0% {color: rgba(97, 218, 251, 0);}
  60% {color: rgba(97, 218, 251, 0);}
  100% {color: rgba(97, 218, 251, 1);}
}
.socialLinks:hover {
  color: cornsilk;
  text-decoration: none;
}
.socialLinks:after {
  display: block;
  content: '';
  border-bottom: solid 1px rgb(97, 218, 251);
  transform: scaleX(0);
  transition: transform 0.35s ease-in-out;
  animation: a-tag 0.75s ease-in-out;
  animation-delay: 6s;
}
.socialLinks:hover:after {
  transform: scaleX(1);
  transform-origin:  100% 50%;
}
@keyframes a-tag {
  0% {transform: scaleX(0);}
  50% {transform: scaleX(1);border-color: cornsilk;}
  100% {transform: scaleX(0);}
}
.contactBtnPlaceholder{
  width: 290px;
  height: 35px;
  margin-bottom: 0.5rem;
}
.contactBtn {
  display: inline-block;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  width: 290px;
  height: 35px;
  color: cornsilk;
  transition: 0.75s;
  animation: neon 8s ease 2s infinite;
}
@keyframes neon {
  0% {color: cornsilk;}
  0.25% {color: black;}
  0.5% {color: cornsilk;}
  0.75% {color: black;}
  1% {color: cornsilk;}
  1.25% {color: black;}
  1.5% {color: cornsilk;}
  1.75% {color: black;}
  20% {color: rgb(97, 218, 251);}
  28.5% {color: black;}
  29.5% {color: white;}
  30% {color: cornsilk;}
  40% {color: cornsilk;}
  80% {color: cornsilk;}
  100% {color: cornsilk;}
}
.contactBtn:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.15);
}
.contactBtn:hover::after {
  content: '\2728';
  color: cornsilk!important;
  animation: contact-arrow 0.25s ease-out forwards;
}
@keyframes contact-arrow {
  from {margin-left: 0rem; font-size: 1.25rem;}
  50% {font-size: 1.75rem;}
  to {margin-left: 3rem; font-size: 0rem;}
}
svg {
  position: absolute;
  fill: none;
  stroke: cornsilk;
  stroke-dasharray: 260 7000;
  stroke-dashoffset: 260;
  transition: 2s ease-in-out;
  animation: svgOutline 4s ease-in-out infinite;
}
@keyframes svgOutline {
  from {stroke-dashoffset: 260;}
  to {stroke-dashoffset: -7000;}
}
.mailIcon {
  animation: mail 2.4s infinite ease-in-out;
}
@keyframes mail {
  0% {color: cornsilk;}
  50% {color: rgb(97, 218, 251);}
  100% {color: cornsilk;}
}
.contactBtn:focus,.contactBtn:active {
  outline: none !important;
  box-shadow: none!important;
}
/* ------------------- */
/* --- < Title /> ---- */
.title-row {
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-top: 0.2rem solid;
  text-align: center;
}
@media only screen and (max-width: 905px) {
  .title-row {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .title-row {
    margin-bottom: 1.5rem;
  }
}
.titleName {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 0.9!important;
  font-size: 12vw;
  font-weight: 900;
  -webkit-box-reflect: below 5px linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.4));
}
.titleSub {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  color: hsl(193, 95%, 48%);
  letter-spacing: 1.5vw;
  font-size: 2.5vw;
  font-weight: 700;
  text-decoration: underline;
  backface-visibility: hidden;
  animation: 8s title-sub-fade-in;
}
@keyframes title-sub-fade-in {
  0% {opacity: 0; transform: scaleX(0);}
  80% {opacity: 0; transform: scaleX(0);}
  100% {opacity: 1; transform: scaleX(1);}
}
/* title text break */
@media only screen and (max-width: 992px) {
  .titleName {
    font-size: 14vw;
  }
  .titleSub {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 550px) {
  .titleName {
    font-size: 13vw;
  }
  .titleSub {
    font-size: 3vw;
  }
}
/* @media only screen and (max-width: 450px) {
  .titleName {
    font-size: 13.5vw;
  }
  .titleSub {
    font-size: 3.25vw;
  }
} */
/* blinking " I " */
.titleNameSpec {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block!important;
}
.yellowWar {
  display: inline-block!important;
  cursor: none!important;
}
.blinky {
  animation: blink 8s ease 2s infinite;
}
.blinky:hover {
  animation: none;
  color: black;
}
@keyframes blink {
  0% {color: cornsilk;}
  0.25% {color: black;}
  0.5% {color: cornsilk;}
  0.75% {color: black;}
  1% {color: cornsilk;}
  1.25% {color: black;}
  1.5% {color: cornsilk;}
  1.75% {color: black;}
  20% {color: rgb(97, 218, 251);}
  28.5% {color: black;}
  29.5% {color: white;}
  30% {color: cornsilk;}
  40% {color: #ffee58;}
  80% {color: #ffee58;}
  100% {color: cornsilk;}
}
/* ------------------- */
/* --- < Bio /> ------ */
.bioWrap {
  cursor: none;
  margin-top: 1.5rem;
  backface-visibility: hidden;
  animation: 2s bio-fade-in ease-in-out;
}
@keyframes bio-fade-in {
  0% {opacity: 0; transform: scaleX(1);}
  50% {transform: scaleX(0);}
  100% {opacity: 1; transform: scaleX(1);}
}
.mySelf {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 10vw;
  margin: 1rem;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  border-radius: 46%;
  animation: mySelf-morph 7s ease-in-out;
}
@keyframes mySelf-morph {
  from {opacity: 0; filter: blur(12px);}
  80% {opacity: 0; filter: blur(12px);}
  to {opacity: 1; filter: blur(0px);}
}
.selfWrap {
  outline: none!important;
  filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.65));
  animation: light-bright 13s ease-in-out;
}
@keyframes light-bright {
  from {filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.5));}
  60% {filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.5));}
  80% {filter: drop-shadow(0px 0px 16px rgba(255, 255, 255, 1));}
  to {filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.65));}
}
.magic {
  color: hsl(275, 100%, 48%);
  transform: rotate(24deg);
  animation: magic 0.25s ease-in;
}
@keyframes magic {
  from {color: white; transform: rotate(0deg);}
  to {color: hsl(275, 100%, 48%); transform: rotate(24deg);}
}
.magic-out {
  color: white;
  transform: rotate(0deg);
  animation: magic-out 0.25s ease-out;
}
@keyframes magic-out {
  from {color: hsl(275, 100%, 48%); transform: rotate(24deg);}
  to {color: white; transform: rotate(0deg);}
}
.quote {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: none;
  letter-spacing: 0.6vw;
  font-size: 1.5vw;
  font-weight: 300;
  text-align: left;
  border-radius: 0.25rem;
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.15);
  animation: spread 1.75s ease-out;
}
@keyframes spread {
  0% {line-height: 0; background-color: rgba(255, 255, 255, 1);}
  80% {line-height: 0; background-color: rgba(255, 255, 255, 1);}
  100% {line-height: 1.2; background-color: rgba(255, 255, 255, 0.15);}
}
@media only screen and (max-width: 905px) {
  .quote {
    letter-spacing: 0.4vw;
    font-size: 2.3vw;
  }
  .mySelf {
    width: 12vw;
  }
}
@media only screen and (max-width: 650px) {
  .quote {
    letter-spacing: 0.3vw;
    font-size: 4vw;
  }
  .mySelf {
    width: 20vw;
  }
}
/* BIO NEW ROLE */
.newRole {
  cursor: default!important;
  transition: 0.255s;
}
.newRole:hover {
  background-color:  hsla(13, 100%, 64%, 0.2)!important;
}
.laptop {
  transition: 0.255s;
}
.newRole:hover > .laptop {
  color:  hsl(13, 100%, 64%);
  font-weight: bold;
}
.angular8 {
  border-radius: 0%!important;
  clip-path: none!important;
}
.via3 {
  color: cornsilk;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.25rem;
  transition: 0.255s;
}
.via3:hover {
  text-decoration: none!important;
  background-color: rgba(255, 255, 255, 0);
  color: hsl(13, 100%, 64%);
  font-weight: bold!important;
}
/*  BIO THE CUBE */
.theCube {
  cursor: default!important;
  transition: 0.255s;
}
.theCube:hover {
  background-color: hsl(108, 100%, 68%, 0.2)!important;
}
.cube {
  transition: 0.255s;
}
.cube::after {
  content: '';
  color: white!important;

}
.theCube:hover > .cube::after {
  content: '';
  animation: dots 1.2s infinite;
}
@keyframes dots {
  0% {content: '';}
  25% {content: ' .';}
  50% {content: ' . .';}
  75% {content: ' . . .';}
}
.theCube:hover > .cube {
  color:  hsl(108, 100%, 68%);
}
.theCube:hover > .enterCube {
  border: 5px solid white;
}
.enterCube {
  color: white;
  transition: 0.255s;
  font-size: small!important;
  font-weight: bold!important;
  border-radius: 0.25rem;
  border: 5px solid rgba(255, 255, 255, 0.15);
  transition: 0.255s;
}
.enterCube:hover {
  text-decoration: none!important;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border: 5px solid  hsl(108, 100%, 68%)!important;
}
/* BIO FREELANCE */
.freelance {
  cursor: default!important;
  transition: 0.255s;
}
.freelance:hover {
  background-color:  hsla(336, 78%, 46%, 0.2)!important;
}
.freelanceIcon {
  transition: 0.255s;
}
.freelance:hover > .freelanceIcon {
  color: hsl(336, 78%, 46%);;
}
.leisure {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.15);
  transition: 0.255s;
}
.freelance:hover > .leisure {
  color: white;
}
.myLeisureFace {
  opacity: 0.1;
  transition: 0.255s;
}
.freelance:hover > .myLeisureFace {
  opacity: 1;
}
/* ------------------- */
/* ---main loader----- */
.loaderWrapper {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
}
@media only screen and (max-width: 520px) {
  .loaderWrapper {
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 125px);
  }
}
.chromeLink:hover {
  text-decoration: none!important;
}
.chromeIcon {
  transform: scale(1.5);
  color: rgba(97, 218, 251, 0.8);
  animation: chrome-logo-spin infinite 1s linear;
}
@keyframes chrome-logo-spin {
  0% {color: rgba(97, 218, 251, 0.8); transform: rotate(0deg);}
  20% {color: hsla(275, 100%, 48%, 0.8);}
  40% {color: hsla(336, 78%, 46%, 0.8);}
  60% {color:  hsla(13, 100%, 64%, 0.8);}
  80% {color:  hsla(108, 100%, 68%, 0.8);}
  100% {color: rgba(97, 218, 251, 0.8); transform: rotate(360deg);}
}
/* ------------------- */
/* ---mouse ghost----- */
#mouseGhost {
  background-image: url('../images/mouse-ghost.gif');
  background-size: cover;
  opacity: 0.5;
  filter: blur(0px);
  transform: scale(1);
  animation: ghost 1.2s ease-in-out;
}
@keyframes ghost {
  from {opacity: 0; filter: blur(12px); transform: scale(0.4);}
  50% {opacity: 1; filter: blur(0px); transform: scale(1.6);}
  to {opacity: 0.5; transform: scale(1);}
}
/* ------------------- */