/* ------------------------ */
.social {
  cursor: pointer;
  margin-left: 1rem!important;
  animation: 2.75s ease-out slide-up-main;
}
@keyframes slide-up-main {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0%;
  }
}

.yellowWar {
  border-top: 1px solid!important;
  display: inline-block!important;
  color: #ffee58;
  cursor: none!important;
  transition: ease-in 0.1s;
}

.titleCont {
  margin-top: 1.5rem;
  text-align: left!important;
}
.titleName {
  border-top: 3px solid;
  line-height: 0.9!important;
  font-size: 8.5rem;
  font-weight: 700;
}
.titleNameSpec {
  border-top: 1px solid!important;
  display: inline-block!important;
  line-height: 0.9!important;
  font-size: 8.5rem;
  font-weight: 700;
}

.fadeicon {
  color: white;
  animation: 5s color-fade-in1;
}
@keyframes color-fade-in1 {
  0% {color: rgba(255, 255, 255, 0);}
  50% {color: rgba(255, 255, 255, 0);}
  100% {color: rgba(255, 255, 255, 1);}
}
.hovIcon {
  cursor: none!important;
  /* transition: ease-in-out 0.1s; */
}
/* .hovIcon:hover {
  transform: scale(0.95);
  color: rgb(97, 218, 251);
  box-shadow: 0 0 5px 1px cornsilk;
  border-color: cornsilk;
  border-radius: 24%;
} */
/* ---------------------------------------------------- */
.blinky {
  animation: blink 8s ease 2s infinite;
}
@keyframes blink {
  0% {color: cornsilk;}
  0.25% {color: black;}
  0.5% {color: cornsilk;}
  0.75% {color: black;}
  1% {color: cornsilk;}
  1.25% {color: black;}
  1.5% {color: cornsilk;}
  1.75% {color: black;}
  20% {color: rgb(97, 218, 251);}
  28.5% {color: black;}
  29.5% {color: white;}
  30% {color: cornsilk;}

  100% {color: #ffee58;}
}
/* ---------------------------------------------------------------------------------------------------------------- */
.titleAtag {
  color: rgb(97, 218, 251);
  animation: 6s color-fade-in2;
}
@keyframes color-fade-in2 {
  from {
    color: rgba(97, 218, 251, 0);
  }
  to {
    color: rgba(97, 218, 251, 1);
  }
}
.titleAtag:hover {
  color: rgb(97, 218, 251)!important;
}
.titleSub {
  margin-left: 1rem;
  color: rgb(97, 218, 251);
  letter-spacing: 1.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 1rem;
  line-height: 0!important;
  animation: 4s color-fade-in3;
}
@keyframes color-fade-in3 {
  0% {color: rgba(97, 218, 251, 0);}
  50% {color: rgba(97, 218, 251, 0);}
  100% {color: rgba(97, 218, 251, 1);}
}


.titleQuote {
  margin-left: 3rem !important;
  line-height: 1;
  margin-top: -12rem!important;
  transition: ease 1.5s;
  animation: 8s fade-in;
}
@keyframes fade-in {
  0% {opacity: 0;}
  25% {opacity: 0.2;}
  50% {opacity: 0.45;}
  100% {opacity: 1;}
}


.quote {
  font-size: 1.7rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  transition: ease-in-out 10s;
}
.quote:hover {
  cursor: vertical-text;
  color: cornsilk;
}
.mySelf {
  margin-left: 3rem;
  border: outset;
  border-color: rgb(97, 218, 251);
  border-width: 5px;
  max-width: 111px;
}
.titleLinks {
  display: inline-flex;
}

/* --------------------------------------------- */
@media only screen and (max-width: 1295px) {
  .titleName {
    line-height: 0.9!important;
    font-size: 7.5rem;
    font-weight: 500;
  }
  .titleNameSpec {
    line-height: 0.9!important;
    font-size: 7.5rem;
    font-weight: 500;
  }
  .titleSub {
    color: rgb(97, 218, 251);
    letter-spacing: 1.4rem!important;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 0!important;
  }
  .quote {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: 200;
  transition: 5.5s;
  }
}
/* ------------------------------------------- */
@media only screen and (max-width: 920px) {
  .titleName {
    line-height: 0.9!important;
    font-size: 6rem;
    font-weight: 500;
  }
  .titleNameSpec {
    line-height: 0.9!important;
    font-size: 6rem;
    font-weight: 500;
  }
  .titleSub {
    color: rgb(97, 218, 251);
    letter-spacing: 1rem!important;
    font-size: 1.7rem;
    font-weight: 400;
  }
  .quote {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 100;
  transition: 5.5s;
  }
}
@media only screen and (max-width: 860px) {
  .titleLinks {
    display: block;
    line-height: 1;
  }
  .social {
    line-height: 0!important;
    margin-bottom: 0rem!important;
  }
  .contactLink {
    margin-left: 0rem!important;
  }
}
/* ----------------------------------------- */
@media only screen and (max-width: 755px) {

}
/* ------------------------------------------ */
@media only screen and (max-width: 732px) {
  .titleName {
    line-height: 0.9!important;
    font-size: 5.2rem;
    font-weight: 400;
  }
  .titleNameSpec {
    line-height: 0.9!important;
    font-size: 5.2rem;
    font-weight: 400;
  }
  .titleSub {
    color: rgb(97, 218, 251);
    letter-spacing: 1rem!important;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .contactLink {
    margin-left: 0rem!important;
  }
}
/* ------------------------------------------- */
@media only screen and (max-width: 635px) {
  .titleName {
    line-height: 0.9!important;
    font-size: 4.5rem;
    font-weight: 400;
  }
  .titleNameSpec {
    line-height: 0.9!important;
    font-size: 4.5rem;
    font-weight: 400;
  }
  .titleSub {
    color: rgb(97, 218, 251);
    letter-spacing: 0.6rem!important;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
/* ------------------------------------------- */
@media only screen and (max-width: 555px) {
  .titleName {
    line-height: 0.9!important;
    font-size: 4rem;
    font-weight: 400;
  }
  .titleNameSpec {
    line-height: 0.9!important;
    font-size: 4rem;
    font-weight: 400;
  }
  .titleSub {
    color: rgb(97, 218, 251);
    letter-spacing: 0.3rem!important;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
/* ------------------------------------------- */
@media only screen and (max-width: 505px) {
  .titleName {
    line-height: 0.9!important;
    font-size: 3.5rem;
    font-weight: 400;
  }
  .titleNameSpec {
    line-height: 0.9!important;
    font-size: 3.5rem;
    font-weight: 400;
  }
  .titleSub {
    color: rgb(97, 218, 251);
    letter-spacing: 0.3rem!important;
    font-size: 1.3rem;
    font-weight: 300;
  }
}
/* -----------phone--------------------------- */
@media only screen and (max-width: 420px) {
  .btmPhone {
    margin-bottom: 0.5rem!important;
  }
  .titleCont {
    margin-left: 0rem!important;
    margin-top: 0rem!important;
  }
  .titleName {
    font-size: 2.6rem;
    font-weight: 600;
  }
  .titleNameSpec {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .titleSub {
    margin-left: 0rem;
    color: rgb(97, 218, 251);
    letter-spacing: 0.1rem!important;
    font-size: 1.3rem;
    font-weight: 100;
  }
  .quote {
    margin-left: 0rem!important;
    margin-top: 4.5rem!important;
    font-size: 1rem!important;
    font-weight: bolder!important;
    letter-spacing: 0rem!important;
    transition: 5.5s;
  }
  .titleLinks {
    font-size: 0.9rem!important;
    margin-top: 0.5rem!important;
  }
  .mySelf {
    margin-left: 1rem;
    margin-top: 4.5rem;
    border-width: 4px;
    max-width: 80px;
  }
  .titleQuote {
    margin-left: 0rem !important;
  }
  .social {
    margin-left: 0rem!important;
  }
}
@media only screen and (max-height: 420px) {
  .mySelf {
    margin-top: 12rem;
  }
  .quote {
    margin-top: 12rem;
  }
}

/* ------------------new contact btn-------------------------------- */
.placeholder{
  width: 290px;
  height: 40px;
}
.contactLink {
  margin-left: 1.5rem;
}
.contactBtn {
  z-index: 999;
  display: inline-block;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  width: 290px;
  height: 40px;
  color: cornsilk;
  cursor: pointer;
  background: transparent;
  transition: 0.1s ease-in-out;
}
.contactBtn:hover {
  transition: 0.1s ease-in-out;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) , rgba(255, 255, 255, 0) 60%);
  text-decoration: none;
  color: rgb(97, 218, 251);
}

svg {
  position: absolute;
  fill: none;
  stroke: cornsilk;
  stroke-dasharray: 260 7000;
  stroke-dashoffset: 260;
  transition: 2s ease-in-out;
  animation: svgOutline 4s ease-in-out infinite;
}
@keyframes svgOutline {
  from {stroke-dashoffset: 260;}
  to {stroke-dashoffset: -7000;}
}

/* ------outline override----------- */
.contactBtn:focus,.contactBtn:active {
  outline: none !important;
  box-shadow: none!important;
  color: cornsilk!important;
  background: cornsilk!important;
  transition-duration: 1s;
  transform: scale(0)!important;
}

@media only screen and (max-width: 520px) {
  .contactBtn:focus,.contactBtn:active {
    outline: none !important;
    box-shadow: none!important;
    color: rgba(255, 248, 220, 0.1)!important;
    background: transparent!important;
    transition-duration: 0.1s;
    transform: none!important;
  }
}

/*  ----------loader------------- */
.loaderWrapper {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}
@media only screen and (max-width: 520px) {
  .loaderWrapper {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
  }
}
