/*  */
/* loading message */
/* .messageLoaderWrapper {} */
/* ---------form-control-overide------------------------ */

/* ---container & bg image--- */
.messageCont {
  height: 100vh!important;
  text-align: left;
}
.messageCont::before {
  height: 99vh;
  content: "";
  background-image: url('../images/seattle.jpg');
  background-size: cover;
  position: absolute;
  top: 80vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0));
}
/*  ------- submit-button --------  */
.formBtn {
  font-size: x-large!important;
  height: 10vh!important;
  color: white!important;
  border-top: 0.25rem solid transparent!important;
  border-left: 0.25rem solid transparent!important;
  border-right: 0.25rem solid transparent!important;
  border-bottom: 0.25rem solid white!important;
  background-color: rgba(0, 0, 0, 0.5)!important;
  transition: ease-in 0.2s;
}
.formBtn:hover {
  color: rgb(97, 218, 251)!important;
  border-top: 0.25rem solid rgb(97, 218, 251)!important;
  border-left: 0.25rem solid rgb(97, 218, 251)!important;
  border-right: 0.25rem solid rgb(97, 218, 251)!important;
  border-bottom: 0.25rem solid rgb(97, 218, 251)!important;
  background-color: rgba(0, 0, 0, 0.85)!important;
}
.formBtn:focus,.formBtn:active {
  outline: none !important;
  box-shadow: none!important;
}
.formBtn:active {
  transform: scale(0.98)!important;
}

/* -----form margin top----------- */
.myForm {
  margin-top: 5rem;
  transform: scale(0.9);
  animation: pop-in 1s ease-in-out;
}
@keyframes pop-in {
  0% {transform: scale(0); opacity: 0;}
  90% {transform: scale(1.1); opacity: 1;}
  95% {transform: scale(0.7);}
  100% {transform: scale(0.9);}
}

/* ------------height???------------------------ */
.form-control {
  height: auto!important;
}

/* ----------------label------------------------------ */
.formLabel {
  font-size: 2rem;
  font-weight: 500;
  transition: 0.15s ease-in;
  cursor: pointer!important;
}

/* ---main input container-------------- */
.twitterInputCont {
  text-align: left!important;
  border-top: 1px solid white!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: solid 0.25rem rgba(0, 0, 0, 0.5)!important;
  color: white!important;
  background-color: rgba(0, 0, 0, 0.5)!important;
}
.twitterInputCont:focus-within {
  color: rgb(97, 218, 251)!important;
  border-top: 1px solid transparent!important;
  border-bottom: solid 0.25rem rgb(97, 218, 251)!important;
  background-color: rgba(0, 0, 0, 0.85)!important;
}
/* ---label on focus------------------------------------------- */
.twitterInputCont:focus-within .formLabel {
  /* margin bottom 0.5rem default */
  font-size: 1.5rem;
  margin-bottom: 1.25rem!important;
}
.twitterInputCont:focus-within .formLabel::after {
  content: '';
  animation: dots 1.5s infinite;
}
@keyframes dots {
  0% {content: '';}
  25% {content: ' .';}
  50% {content: ' . .';}
  75% {content: ' . . .';}
}

/* input-only--------------------- */
.twitterInput {
  font-size: xx-large!important;
  color: white!important;
  caret-color: white!important;
  border: none!important;
  background-color: transparent!important;
  cursor: pointer!important;
}
.twitterInput:focus {
  cursor: initial!important;
}

/* -input autofill bg color override- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}


/* form error message ------------------*/
.errorMess {
  color: red;
  background-color: rgba(255, 0, 0,0.1);
  font-size: small;
  border-top: solid 0.15rem red!important;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/* --error message placeholder----------- */


/* ---screen size adjustments--- */
.moreBtmMessage {
  margin-bottom: 2rem!important;
}
@media only screen and (max-width: 1300px) {
  .moreBtmMessage {
    margin-bottom: 12rem!important;
  }
}
/* ---phone-------------------------------------- */
@media only screen and (max-width: 620px) {
  .moreBtmMessage {
    margin-bottom: 14rem!important;
  }
  .formBtn {
    color: rgb(97, 218, 251)!important;
    border-top: 0.25rem solid rgb(97, 218, 251)!important;
    border-left: 0.25rem solid rgb(97, 218, 251)!important;
    border-right: 0.25rem solid rgb(97, 218, 251)!important;
    border-bottom: 0.25rem solid rgb(97, 218, 251)!important;
    background-color: rgba(0, 0, 0, 0.85)!important;
    transition: none!important;
  }
}
/* ---sideways phone view--- */
@media only screen and (max-height: 420px) {
  .formBtn {
    height: auto!important;
  }
}
