/* ---------form-control-overide------------------------ */
.messageCont {
  height: 100vh!important;
}
.messageCont::before {
  height: 99vh;
  content: "";
  background-image: url('../images/seattle.jpg');
  background-size: cover;
  position: absolute;
  top: 80vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0));
}
.form-control {
  height: auto!important;
}



.formTitle {
  font-size: smaller;
  color: rgb(97, 218, 251)!important;
}
.formBtn {
  color: white!important;
  background-color: rgb(97, 218, 251)!important;
}
/*  */
.twitterInputCont {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: solid 0.25rem rgb(97, 218, 251)!important;
  color: rgb(97, 218, 251)!important;
  /* background-color: hsl(210, 29%, 97%)!important; */
  background-color: white!important;
}
.twitterInputCont:focus-within {
  color: #ffee58!important;
  border-bottom: solid 0.25rem #ffee58!important;
}
.twitterInputCont:focus-within label::after {
  content: " . . ."!important;
}
/*  */
.twitterInput {
  font-size: x-large!important;
  color: rgb(97, 218, 251)!important;
  caret-color: rgb(97, 218, 251)!important;;
  border: none!important;
  /* background-color: hsl(210, 29%, 97%)!important; */
  background-color: white!important;
}
/* autofill color fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
/* form error message */
.errorMess {
  color: red;
  background-color: rgba(255, 0, 0,0.1);
  font-size: small;
  border-top: solid 0.15rem red!important;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}