.myNavBar {
  height: 20vh!important;
  background-color: rgba(0, 0, 0, 0.85)!important;
  color: white!important;
  animation: 4s fade-in-nav;
}
@keyframes fade-in-nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* -------------------------------------------- */
.myNavLinks {
  margin: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  border-top: solid 2px rgba(255, 255, 255, 0);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  filter: blur(1.75px)!important;
  transition: ease 0.4s;
}
.myNavLinks:hover {
  cursor: pointer;
  color: rgb(97, 218, 251);
  border-top: solid 2px rgb(255, 255, 255, 0);
  border-bottom: solid 2px rgb(255, 255, 255, 0);
  filter: blur(0px)!important;
  text-decoration: none;
}
.myNavLinks-on {
  cursor: pointer;
  color: white;
  background-color: black!important;
  filter: blur(0px)!important;
  text-decoration: none;
  border-top: solid 2px rgb(97, 218, 251);
  border-bottom: solid 2px rgb(97, 218, 251);
  border-top-right-radius: 24%;
  border-bottom-left-radius: 24%;
  transition: ease-in-out 0.8s;
}
.myNavLinks-on:hover {
  cursor: pointer;
  color: white;
  border-top: solid 2px rgb(97, 218, 251);
  border-bottom: solid 2px rgb(97, 218, 251);
  filter: blur(0px)!important;
  text-decoration: none;
}
/* ------ name grid ----------------------- */
.nameGroup {
  display: grid!important;
  line-height: 0.8!important;
  cursor: pointer;
}
.navSpan {
  color: white!important;
  margin-bottom: 2.75rem!important;
}
.myNavLinksName {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  padding: 1rem 1rem 0rem 1rem;
  font-size: 1.75rem;
  text-decoration: none;
  color: rgb(97, 218, 251);
  transition: ease-in 1s;
}
.myNavLinksName:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
/* ------------- device < xxl ------------------------ */
@media only screen and (max-width: 1395px) {
  .myNavBar {
    height: auto!important;
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
    background-color: rgba(0, 0, 0, 0.85)!important;
    color: white!important;
  }
  .show{
    padding-top: 2rem!important;
  }
  .navbar-toggler {
    background-color: black!important;
    border: 3px solid rgb(97, 218, 251)!important;
  }
  .barsIcon {
    color: white!important;
  }
  .myNavLinks {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2.5;
  }
  .myNavLinksName {
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 1.75rem;
    color: rgb(97, 218, 251);
  }
  .navSpan {
    margin-bottom: 0rem!important;
  }
}
@media only screen and (max-width: 1201px) {
  .myNavBar {
    background-color: rgb(0, 0, 0)!important;
  }
}
/* ------- small device ---------------------------------- */
@media only screen and (max-width: 645px) {
  .myNavBar {
    border-top: solid 1px rgb(97, 218, 251)!important;
  }
}
/* -------- phone ----------------------------------- */
@media only screen and (max-width: 420px) {
  .myNavLinks {
    filter: blur(0px)!important;
  }
  .myNavBar {
    padding-bottom: 1.5rem!important;
  }
  .myNavLinksName {
    margin: 0rem 1rem 0rem 1rem;
  }
}
/* orientation phone sideways */
@media only screen and (max-height: 420px) {
  .fixed-bottom {
    display: none!important;
  }
}








/* ---------------- */
/* ---speach div--- */
.speach {
  cursor: pointer;
  display: flex;
  position: absolute;
  bottom: 5vh;
  right: 20px;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: hsl(54, 100%, 57%);
  color: white;
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 15px, rgba(255, 255, 255, 1) 0px 0px 3px 1px;
  transition: 0.2s ease-in-out;
  animation: heartbeat 0.5s ease-in-out 12s 12;
}
@keyframes heartbeat {
  0% {background-color: hsl(54, 100%, 57%);}
  50% {box-shadow: none; background-color: #ffee58; color: rgb(97, 218, 251); transform: scale(1.4);}
  100% {background-color: hsl(54, 100%, 57%);}
}
@media only screen and (max-width: 650px) {
  .speach {
    display: none;
  }
}
.speach:hover {
  box-shadow: none;
  background-color: #ffee58;
  transform: scale(1.2);
}
.speach:active {
  cursor: none;
  transform: scale(1);
  color: rgb(97, 218, 251);
  background-color: rgba(255, 255, 255, 0.2);
  animation: cd-pulse 0.75s 0.1s infinite;
}
@keyframes cd-pulse {
  0% {box-shadow:0 0 0 0 white; background-color: rgba(255, 255, 255, 1);}
  100% {box-shadow:0 0 10px 25px rgba(255,150,44,0); background-color: rgba(255, 255, 255, 0.2);}
}
.speachInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1099;
  bottom: 20vh;
  right: 10px;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #C2185B;
  animation: speach-info 1.5s ease-in;
}
@keyframes speach-info {
  from {opacity: 0; background-color: rgb(97, 218, 251)}
  to {opacity: 1; background-color: #C2185B;}
}
.speachInfo::before {
  content: '';
  display: flex;
  position: relative;
  top: 295px;
  left: 175px;
  height: 38px;
  width: 38px;
  border-radius: 0.25rem;
  background-color: #C2185B;
  transform: rotate(45deg);
  animation: speach-info-before 1.5s ease-in;
}
@keyframes speach-info-before {
  from {opacity: 0; background-color: rgb(97, 218, 251); top: 220px;}
  to {opacity: 1; background-color: #C2185B; top: 295px;}
}