.myNavBar {
  height: 20vh!important;
  background-color: rgba(0, 0, 0, 0.85)!important;
  color: white!important;
  animation: 4s fade-in-nav;
}
@keyframes fade-in-nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* -------------------------------------------- */
.myNavLinks {
  margin: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  border-top: solid 2px rgba(255, 255, 255, 0);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  filter: blur(1.75px)!important;
  transition: ease 0.4s;
}
.myNavLinks:hover {
  cursor: pointer;
  color: rgb(97, 218, 251);
  border-top: solid 2px rgb(255, 255, 255, 0);
  border-bottom: solid 2px rgb(255, 255, 255, 0);
  filter: blur(0px)!important;
  text-decoration: none;
}
.myNavLinks-on {
  cursor: pointer;
  color: white;
  background-color: black!important;
  filter: blur(0px)!important;
  text-decoration: none;
  border-top: solid 2px rgb(97, 218, 251);
  border-bottom: solid 2px rgb(97, 218, 251);
  border-top-right-radius: 24%;
  border-bottom-left-radius: 24%;
  transition: ease-in-out 0.8s;
}
.myNavLinks-on:hover {
  cursor: pointer;
  color: white;
  border-top: solid 2px rgb(97, 218, 251);
  border-bottom: solid 2px rgb(97, 218, 251);
  filter: blur(0px)!important;
  text-decoration: none;
}
/* ------ name grid ----------------------- */


.navSpan {
  color: white!important;
  margin-bottom: 2.75rem!important;
}
.myNavLinksName {
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  padding: 1rem 1rem 0rem 1rem;
  font-size: 1.75rem;
  text-decoration: none;
  color: rgb(97, 218, 251);
  transition: ease-in 1s;
}
.myNavLinksName:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
/* ------------- device < xxl ------------------------ */
@media only screen and (max-width: 1395px) {
  .myNavBar {
    height: auto!important;
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
    background-color: rgba(0, 0, 0, 0.85)!important;
    color: white!important;
  }

  .myNavLinks {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2.5;
  }
  .myNavLinksName {
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 1.75rem;
    color: rgb(97, 218, 251);
  }
  .navSpan {
    margin-bottom: 0rem!important;
  }
}
/* ---COLLAPSE BREAKPOINT XL--- */
@media only screen and (max-width: 1201px) {
  .myNavBar {
    background-color: rgb(0, 0, 0)!important;
  }
}
/* ------- small device ---------------------------------- */
@media only screen and (max-width: 645px) {
  .myNavBar {
    border-top: solid 1px rgb(97, 218, 251)!important;
  }
}
/* -------- phone ----------------------------------- */
@media only screen and (max-width: 420px) {
  .myNavLinks {
    filter: blur(0px)!important;
  }
  .myNavBar {
    padding-bottom: 1.5rem!important;
  }
  .myNavLinksName {
    margin: 0rem 1rem 0rem 1rem;
  }
}
/* orientation phone sideways */
@media only screen and (max-height: 420px) {
  .fixed-bottom {
    display: none!important;
  }
}



















/* --- NEW POLYGONS ----------- */


/* --- NAVBAR TOGGLE SWITCH --- */
.navbar-toggler {
  display: flex!important;
  height: 45px!important;
  width: 45px!important;
  justify-content: center!important;
  align-items: center!important;
  text-align: center!important;
  border: none!important;
  line-height: inherit!important;
  font-size: 1.5rem!important;
  border-radius: 40%!important;
}
.navbar-toggler:active, .navbar-toggler:focus {
  outline: none!important;
  box-shadow: none!important;
}
.barsIcon {
  color: white!important;
}
@media only screen and (min-width: 1200px) {
  .navbar-toggler, .barsIcon {
    display: none!important;
  }
}
/* ------------------- */
/* --- HOME BUTTON --- */
.homeButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 60px;
  color: white;
  background-color: hsl(193, 95%, 48%);
  border-radius: 40%;
  transition: 0.5s ease-in-out;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  animation: home-button-reveal 0.75s ease-in;
}
@keyframes home-button-reveal {
  from {opacity: 0; filter: blur(12px);}
  to {opacity: 1; filter: blur(0px);}
}
.homeButton:hover {
  color: white!important;
  text-decoration: none!important;
  background-color: hsl(193, 95%, 68%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.homeButtonActivePlaceholder {
  cursor: pointer;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 60px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40%;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  animation: home-button-exit 0.75s ease-out;
}
@keyframes home-button-exit {
  from {clip-path: none; border-radius: 50%; opacity: 1; filter: blur(0px); box-shadow:0 0 0 0 white; background-color: rgba(255, 255, 255, 1);}
  to {clip-path: none; border-radius: 50%; opacity: 0; filter: blur(12px); box-shadow:0 0 10px 25px rgba(255,150,44,0); background-color: rgba(255, 255, 255, 0.1);}
}
/* ------------------- */
/* ----SPEECH-------- */
@media only screen and (max-width: 750px) {
  .speech, .speechInfo {
    display: none!important;
  }
}
/* ---speech div--- */
.speech {
  cursor: pointer;
  display: flex;

  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 60px;
  color: white;
  background-color: hsl(54, 100%, 47%);
  border-radius: 40%;
  /* polygon-X */
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  transition: 0.5s ease-in-out;
  animation: heartbeat 0.5s ease-in-out 10s 8;
}
@keyframes heartbeat {
  0% { background-color: hsl(54, 100%, 47%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);}
  50% { background-color: hsl(54, 100%, 67%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);}
  100% { background-color: hsl(54, 100%, 47%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);}
}
.speech:hover {
  background-color: hsl(54, 100%, 67%);
  /* polygon-Y */
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.speech:active {
  cursor: none;
  clip-path: none;
  border-radius: 50%;
  color: hsl(54, 100%, 67%);
  transform: scale(0.8);
  background-color: rgba(255, 255, 255, 0.2);
  animation: cd-pulse 0.75s 0.25s infinite;
}
@keyframes cd-pulse {
  0% {box-shadow:0 0 0 0 white; background-color: rgba(255, 255, 255, 1);}
  100% {box-shadow:0 0 10px 25px rgba(255,150,44,0); background-color: rgba(255, 255, 255, 0.2);}
}
.speechInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1099;
  bottom: 20vh;
  right: 10px;
  padding: 0rem 0.5rem 1rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(97, 218, 251);
  background-color: rgba(0, 0, 0, 0.85);
  animation: speech-info 0.5s ease-in;
}
@keyframes speech-info {
  from {opacity: 0; border: 1px solid rgba(255, 255, 255, 0); filter: blur(12px);}
  35% {opacity: 0.5; border: 1px solid rgb(255, 255, 255, 1);}
  85% {opacity: 1;}
  to {opacity: 1; border: 1px solid rgba(255, 255, 255, 1); filter: blur(0px);}
}
@media only screen and (max-width: 1200px) {
  .speechInfo {
    background-color: rgba(0, 0, 0, 1);
  }
}
.speechInfo::before {
  content: '';
  display: flex;
  position: relative;
  top: 294px;
  left: 186px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 1);
  clear: both;
  animation: speech-info-before 0.5s ease-in;
}
@keyframes speech-info-before {
  from {  border-left: 0px solid transparent;
    border-right: 0px solid transparent; left: 160px;}
  35% {  border-left: 0px solid transparent;
    border-right: 0px solid transparent; left: 160px;}
  to {  border-left: 20px solid transparent;
    border-right: 20px solid transparent; left: 186px;}
}
.thumbsUp {
  display: flex;
  position: absolute;
  z-index: 1099;
  bottom: 20vh;
  right: 5vw;
  font-size: 5rem;
  animation: thumbs-up 2s ease-in-out forwards;
}
@keyframes thumbs-up {
  from {opacity: 0; transform: scale(0);}
  50% {opacity: 1; transform: scale(1.5);}
  to {opacity: 0; transform: scale(0);}
}
.goodJob {
  display: flex;
  position: absolute;
  bottom: 20vh;
  right: 5vw;
  opacity: 0;
  animation: good-job 2s;
}
@keyframes good-job {
  from {opacity: 1;}
  to {opacity: 0;}
}
/* --- end speech --- */