.projectContainer {
  display: flex!important;
  flex-wrap: wrap!important;
  margin: 0%!important;
  padding: 0%!important;
}
.projectContainer::before {
  height: 100vh;
  width: 100vw;
  content: "";
  background-image: url('../images/tech.jpg');
  background-size: cover;
  position: absolute;
  top: 80vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,0),
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0));
  opacity: 0.4;
  animation: fade-in-projBg 5s ease-in-out ;
}
@keyframes fade-in-projBg {
  0% {opacity: 0; transform: rotate(200deg);}
  40% {opacity: 0.1;}
  50% {opacity: 0.25;}
  60% {opacity: 0.2;}
  90% {opacity: 1;}
  100% {opacity: 0.4; transform: rotate(360deg);}
}
/* ----------------------------- */
.projectLeft {
  animation: slide-in-left-proj 3.5s ease-out;
}
@keyframes slide-in-left-proj {
  0% {left: -200vw; opacity: 0; transform: scale(0);}
  50% {opacity: 0;}
  100% {left: 0px; opacity: 1; transform: scale(1);}
}
/*  */
.projectCenter {
  animation: slide-in-bottom-proj 3s ease-out;
}
@keyframes slide-in-bottom-proj {
  0% {top: 200vh; opacity: 0; transform: scale(0);}
  50% {opacity: 0;}
  100% {top: 0px; opacity: 1; transform: scale(1);}
}
/*  */
.projectRight {
  animation: slide-in-right-proj 3.5s ease-out;
}
@keyframes slide-in-right-proj {
  0% {left: 200vw; opacity: 0; transform: scale(0);}
  50% {opacity: 0;}
  100% {left: 0px; opacity: 1; transform: scale(1);}
}
/* ------------------------------------- */
.btmSpace {
  margin-bottom: 100vh!important;
}
.projTitle {
  font-size: 3rem;
  font-weight: 900;
  border-bottom: 2px solid white;
  box-shadow: 0px -30px 29px -35px white inset;
  background: -webkit-linear-gradient(hsl(193, 95%, 40%), white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: light-up 6s;
}
@keyframes light-up {
  from {box-shadow: none; background: -webkit-linear-gradient(hsl(193, 95%, 40%), hsl(193, 95%, 40%));
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  75% {box-shadow: none; background: -webkit-linear-gradient(hsl(193, 95%, 40%), hsl(193, 95%, 40%));
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  99% {box-shadow: 0px -30px 29px -35px white inset; background: -webkit-linear-gradient(hsl(193, 95%, 40%), hsl(193, 95%, 40%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
  to {background: -webkit-linear-gradient(hsl(193, 95%, 40%), white);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
}

.projectTitleWrap {
  display: inline-flex!important;
}
.projectIcon {
  color: white;
}
.movieImg {
  height: auto!important;
  max-width: 400px!important;
  border-radius: 4px!important;
  box-shadow: 0 0 0 1px rgb(97, 218, 251);
  transition: ease-out 0.3s;
  cursor: pointer;
}
.movieImg:hover {
  transform: scale(1.25);
  box-shadow: 0 0 0 1px #ffee58;
}
.movieAtag {
  color: rgb(97, 218, 251)!important;
}
.moreBtm {
  height: 35vh!important;
}
@media only screen and (max-width: 1200px) {
  .moreBtm2 {
    margin-bottom: 45vh!important;
  }
  .moreBtm {
    margin-bottom: 5vh!important;
  }
}
@media only screen and (max-width: 420px) {
  .projectContainer::before {
    display: none!important;
  }
  .movieImg {
    height: auto!important;
    max-width: 85vw!important;
    border-radius: 1%!important;
    box-shadow: 0 0 0 1px rgb(97, 218, 251);
    transition: 3s;
    cursor: pointer;
  }
  .moreBtm2 {
    margin-bottom: 45vh!important;
  }
  .moreBtm {
    display: none!important;
  }
  .projectRight {
    animation: slide-in-right-proj 3.5s ease-out;
  }
  @keyframes slide-in-right-proj {
    0% {opacity: 0; transform: scale(0);}
    50% {opacity: 0;}
    100% {opacity: 1; transform: scale(1);}
  }
}