.btmSpace {
  margin-bottom: 100vh!important;
}
.projTitle {
  font-size: 3rem;
  font-weight: 900;
  border-bottom: 2px solid white;
  box-shadow: 0px -30px 29px -35px white inset;
  background: -webkit-linear-gradient(hsl(193, 95%, 40%), white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projectTitleWrap {
  display: inline-flex!important;
}
.projectIcon {
  color: white;
}
.movieImg {
  height: auto!important;
  max-width: 400px!important;
  border-radius: 1%!important;
  box-shadow: 0 0 0 1px rgb(97, 218, 251);
  transition: ease-in 0.3s;
  cursor: pointer;
}
.movieImg:hover {
  transform: scale(1.25);
  box-shadow: 0 0 0 1px #ffee58;
}
.movieAtag {
  color: rgb(97, 218, 251)!important;
}
.moreBtm {
  height: 35vh!important;
}
@media only screen and (max-width: 1200px) {
  .moreBtm2 {
    margin-bottom: 45vh!important;
  }
  .moreBtm {
    margin-bottom: 5vh!important;
  }
}
@media only screen and (max-width: 420px) {
  .movieImg {
    height: auto!important;
    max-width: 85vw!important;
    border-radius: 1%!important;
    box-shadow: 0 0 0 1px rgb(97, 218, 251);
    transition: 3s;
    cursor: pointer;
  }
  .moreBtm2 {
    margin-bottom: 45vh!important;
  }
  .moreBtm {
    margin-bottom: 5vh!important;
  }
}