/* --------------------- */
.resumeContainer {
  margin-top: 0vh;
}
/* -------------------------------------------- */
.imageContainer {
  animation: come-in 4s;
}
@keyframes come-in {
  from {margin-top: 100vh; opacity: 0; transform: scale(0.5);}
  to {margin-top: 0vh; opacity: 1; transform: scale(1);}
}
/* ---------- */
.yelly {
  border-bottom: 4px solid rgb(97, 218, 251);
  margin-bottom: 12rem!important;
}
.resumeImg {
  max-width: 100vw;
  height: auto;
}

/* ---------------------------------- */
@media only screen and (max-width: 420px) {
  .resumeContainer::before {
    display: none;
  }
  .resumeImg {
    max-width: 90vw;
    height: auto;
  }
}
/* -------------------------------------- */
.allTypeCont {
  z-index: 999!important;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}
.typeContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-start;
}