/* --------------------- */
.resumeContainer {
  margin-top: 0vh;
}
.meme {
  margin: 1rem auto;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-top: 1rem;
  animation: fafalala 6s ease-out infinite alternate-reverse, come-in 3s ease-out;
}
@keyframes fafalala {
  from {filter: brightness(220%) hue-rotate(0deg);}
  to {filter: brightness(220%) hue-rotate(360deg);}
}
/* -------------------------------------------- */
.imageContainer {
  display: flex;
  flex-direction: column;
  animation: come-in 3s ease-out;
}
@keyframes come-in {
  from {opacity: 0; transform: translateY(100vh);}
  to {opacity: 1; transform: translateY(0vh);}
}
/* ---------- */
.yelly {
  border-bottom: 4px solid rgb(97, 218, 251);
  margin-bottom: 12rem!important;
}
.resumeImg {
  max-width: 60vw;
  margin: 1rem auto;
  height: auto;
}

/* ---------------------------------- */
@media only screen and (max-width: 480px) {
  .resumeImg {
    max-width: 90vw;
    height: auto;
  }
}
/* -------------------------------------- */