/* --------------------- */
.resumeContainer {
  margin-top: 0vh;
}
/* -------------------------------------------- */
.imageContainer {
  animation: come-in 3s ease-out;
}
@keyframes come-in {
  from {opacity: 0; transform: translateY(100vh);}
  to {opacity: 1; transform: translateY(0vh);}
}
/* ---------- */
.yelly {
  border-bottom: 4px solid rgb(97, 218, 251);
  margin-bottom: 12rem!important;
}
.resumeImg {
  max-width: 100vw;
  height: auto;
}

/* ---------------------------------- */
@media only screen and (max-width: 420px) {
  .resumeImg {
    max-width: 90vw;
    height: auto;
  }
}
/* -------------------------------------- */