/* ---opening animation--- */
.techTop {
  height: 100vh;
  margin-top: 3rem;
  animation: fade-up-tech 2.5s ease-out;
}
@keyframes fade-up-tech {
  0% {margin-top: 120vh; opacity: 0;}
  45% {opacity: 0.15;}
  70% {opacity: 0.25;}
  85% {opacity: 0.5;}
  100% {margin-top: 3rem; opacity: 1;}
}
/*-------------------------------------------- */
.yella {
  list-style: none;
}
.yellowBull {
  color: cornsilk;
}
.yellowBull::before {
  content: "\2022";
  color: cornsilk;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -2.4em;
}
/* ------------- */
.techCont {
  text-align: left;
}
.techTitleWrap {
  display: inline-flex;
}
.techTitle {
  font-size: 2.7rem;
  color: rgb(97, 218, 251);
  text-decoration: underline;
}
.techList {
  font-size: 1.7rem;
  text-align: left;
}
.techIcons {
  line-height: 5;
}
.tools {
  margin-right: 8rem;
}
.titleLeftMargin {
  margin-left: 2rem;
}
/* ---------------------------- */


@media only screen and (max-width: 1295px) {
  .techList {
    margin-left: 34%;
  }
  .titleLeftMargin {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 1201px) {
  .techList {
    margin-left: 40%;
  }
  .titleBottom {
    margin-bottom: 25vh!important;
  }
}
@media only screen and (max-width: 420px) {
  .techList {
    font-size: 2.2rem;
    margin-left: 14%;
  }
  .techTitle {
    font-size: 2.3rem;
  }
  .yellowBull::before {
    margin-left: -2.1em;
  }
  .titleBottom {
    margin-bottom: 35vh!important;
  }
}