/* ---bg image----- */
.techContainer {
  height: 100vh!important;
  width: 100vw!important;
  overflow: hidden!important;
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  margin: 0%!important;
  padding: 0%!important;
}

.techContainer::before {
  height: 99vh;
  width: 99vw;
  content: "";
  background-image: url('../images/tech.jpg');
  background-size: cover;
  position: absolute;
  top: 80vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,0),
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0));
  opacity: 0.4;
  animation: fade-in-techbg 5s ease-in-out ;
}
@keyframes fade-in-techbg {
  0% {opacity: 0; transform: rotate(200deg);}
  40% {opacity: 0.1;}
  50% {opacity: 0.25;}
  60% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0.4; transform: rotate(360deg);}
}
/* ---opening animation--- */
.techTop {
  height: 100vh;
  margin-top: 3rem;
  animation: fade-up-tech 2s ease-out;
}
@keyframes fade-up-tech {
  0% {margin-top: 120vh; opacity: 0;}
  45% {opacity: 0.15;}
  70% {opacity: 0.25;}
  85% {opacity: 0.5;}
  100% {margin-top: 3rem; opacity: 1;}
}
/*-------------------------------------------- */
.yella {
  list-style: none;
}
.yellowBull {
  color: cornsilk;
}
.yellowBull::before {
  content: "\2022";
  color: cornsilk;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -2.4em;
}
.listItem:hover {
  color: cornsilk!important;
  list-style-type: disc;
}
/* ------------- */

/*  */
.techTitleWrap {
  display: inline-flex;
  margin-bottom: 0.25rem;
  border-bottom: solid 2px rgb(97, 218, 251);
  border-bottom-left-radius: 24%;
  padding-bottom: 1rem;
  animation: fade-in-border 2s;
}
@keyframes fade-in-border {
  0% {border-bottom: solid 2px rgba(97, 218, 251, 0); border-bottom-left-radius: 0%;}
  50% {border-bottom: solid 2px rgba(97, 218, 251, 0); border-bottom-left-radius: 0%;}
  75% {border-bottom-left-radius: 0%;}
  100% {border-bottom: solid 2px rgb(97, 218, 251); border-bottom-left-radius: 24%;}
}

.techTitle::after {
  display:block;
  content: '';
  border-bottom: solid 2px white;
  animation: tech-title 3s ease-out;
  animation-delay: 0.5s;
}
@keyframes tech-title {
  from {
    transform: scaleX(0);
    transform-origin:  0% 50%;
    border-color: rgb(97, 218, 251);
  }
  to {
    transform: scaleX(1);
    transform-origin:  0% 50%;
    border-color: cornsilk;
  }
}

/*  */

.techTitle {
  font-size: 2.7rem;
  color: rgb(97, 218, 251);
}
.techList {
  margin-left: 18%;
  padding-top: 0.5rem;
  padding-left: 4rem;
  font-size: 1.7rem;
  text-align: left;
  list-style-type: square;
  border-left: 2px solid rgb(97, 218, 251);
  border-top-left-radius: 12%;
  animation: fade-list 2s;
}
@keyframes fade-list {
  0% {opacity: 0; border-left: 1px solid rgba(97, 218, 251, 0); border-top-left-radius: 0%;}
  70% {opacity: 0;}
  80% {border-top-left-radius: 0%;}
  90% {border-left: 1px solid #61dafb;}
  100% {opacity: 1; border-left: 1px solid #61dafb; border-top-left-radius: 12%;}
}
.techList:hover {
  border-left: 2px solid cornsilk;
  list-style-type: circle;
  cursor: crosshair;
}
/* ---------------------------- */
@media only screen and (max-width: 1295px) {
  .techList {
    margin-left: 12%;
  }
}
@media only screen and (max-width: 1201px) {
  .techContainer {
    flex-direction: column!important;
    flex-wrap: nowrap!important; 
  }
  .techList {
    margin-left: 40%;
  }
  .titleBottom {
    margin-bottom: 25vh!important;
  }
  .techContainer {
    height: fit-content!important;
    margin-bottom: 32vh!important;
  }
  .techTop {
    height: auto;
  }
}
/* ---phone----------------------------------- */
@media only screen and (max-width: 420px) {
  .techTop {
    height: auto;
  }
  .techContainer {
    height: auto!important;
    margin-bottom: 32vh!important;
  }
  .techContainer::before {
    display: none!important;
  }
  .techList {
    font-size: 1.5rem;
    margin-left: 14%;
    padding-left: 3rem;
  }
  .techTitle {
    font-size: 2.6rem;
  }
  .yellowBull::before {
    margin-left: -2.7em;
  }
  .titleBottom {
    margin-bottom: 35vh!important;
  }
}