
/* ADD ' !IMPORTANT FLAG ON BODY COLORS AFTER X-MAS  */
body {
  scrollbar-width: thin;
  background-color: black!important;
  color: white!important;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace!important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
} */

/* ScrollBar */


::-webkit-scrollbar {
  display: none!important;
}
/* Track */
::-webkit-scrollbar-track {
  color: black!important;
  background-color: black!important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  color: black!important;
  background-color: black!important;
}

/* --- top scroll bar --- */
.myScrollBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  animation: fade-in 6s;
}
@keyframes fade-in {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
/* ---Main-App-Component--- */
.mainView {
  margin-bottom: 100vh;
}
/* stars */
.star_0 {
  display: block;
  position: fixed;
  z-index: -1;
  height: 7.5px;
  width: 7.5px;
  background-color: hsl(54, 100%, 58%);
  animation: twinkle 2750ms steps(5, end) infinite;
}
.star_1 {
  display: block;
  position: fixed;
  z-index: -1;
  height: 5px;
  width: 5px;
  background-color: hsl(54, 100%, 58%);
  animation: twinkle 2650ms steps(5, end) infinite;
}
.star_2 {
  display: block;
  position: fixed;
  z-index: -1;
  height: 2.5px;
  width: 2.5px;
  background-color: hsl(54, 100%, 58%);
  animation: twinkle 2550ms steps(5, end) infinite;
}
@keyframes twinkle {
  from {background-color: black;}
  to {background-color: hsl(54, 100%, 68%);}
}
/* moon */
.mainScreen:after {
  content: "";
  height: 102px;
  width: 102px;
  background-color: hsl(268, 50%, 14%);
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  filter: blur(0px);
  animation: fade-in-bg-moon 6.7s steps(40, end) forwards;
}
@keyframes fade-in-bg-moon {
  0% {background-color: hsl(269.4, 50%, 14%);}
  5% {background-color: hsl(269.4, 50%, 36%);}
  7.5% {background-color: hsl(193, 100%, 48%);}
  10% {background-color: hsl(54, 100%, 48%);}
  50% {background-color: hsl(54, 100%, 48%);}
  80% {background-color: hsl(269.4, 50%, 36%);}
  100% {background-color: hsl(269.4, 50%, 14%);}
}

@media only screen and (max-width: 650px) {
  .mainScreen:after {
    height: 52px;
    width: 52px;
  }
}

/* main background */
.mainScreen:before {
  content: "";
  background-image: url('./images/main/8bitCity.jpg');
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  height: 100vh;
  width: 100%;

  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0.5),
  rgba(0,0,0,0));

  opacity: 0.4;
  filter: blur(0px);

  animation: fade-in-bg 10s;

}
@keyframes fade-in-bg {
  0% {opacity: 0;}
  25% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0.4;}
}

/* astronaut */
.gravity {
  color: hsl(193, 100%, 58%);
  border-radius: 50%;
  position: absolute;
  top: 210%;
  left: 60%;
  z-index: 999;
  transform: rotate(0deg) scale(1);
  animation: 
    gravity-kills 4s steps(20, end) 1.25s,
    pulse-grav 0.75s 1.5s,
    grav-float 3.75s steps(10, end)  6s infinite;
}
@keyframes gravity-kills {
  from {top: -10%; transform: rotate(0deg) scale(0);}
  to {top: 110%; transform: rotate(360deg) scale(4);}
}
@keyframes pulse-grav {
  0% {box-shadow:0 0 0 0 rgba(255, 255, 255, 0.9);}
  100% {box-shadow:0 0 15px 75px rgba(255,150,44,0);}
}
@keyframes grav-float {
  0% {top: 210%; transform: rotate(0deg)}
  50% {top: 215%;transform: rotate(-45deg)}
  100% {top: 210%;transform: rotate(0deg)}
}

/* scroll bar blob  */
.scroll-bar-blob {
  cursor: pointer;
  display: flex;
  position: fixed;
  /* top: 0; */
  right: 0;
  height: 42px;
  width: 42px;
  background-image: url('./images/main/mouse-ghost.gif');
  background-size: 175%;
  background-position: 50% 50%;
  z-index: 2999;
  animation: blob-blob 222ms ease-out;
}
/* .scroll-bar-blob:active {
  cursor: grabbing;
} */

@keyframes blob-blob {
  from {opacity: 0; filter: blur(12px); transform: scale(0.4);}
  50% {filter: blur(0px); transform: scale(1.6);}
  to {opacity: 1; transform: scale(1);}
}

.scroll-tag {
  margin: auto;
  color: cornsilk;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  font-size: 1.1rem;
  padding-top: 2px;
}


/* mobile */
@media only screen and (max-width: 650px) {
  .scroll-bar-blob {
    display: none;
  }
  .gravity {
    animation: 
      gravity-kills-mobile 4s steps(20, end) 1.25s,
      pulse-grav 0.75s 1.5s,
      grav-float 3.75s steps(10, end)  6s infinite;
  }
}
@keyframes gravity-kills-mobile {
  from {top: -10%; transform: rotate(0deg) scale(0);}
  to {top: 110%; transform: rotate(360deg) scale(2);}
}

/* --- goHome --- */
.dummy {
  height: 1vh;
  background-color: rgba(0,0,0,0);
  animation: go-home 1.5s ease-out;
}
@keyframes go-home {
  from {height: 200vh;}
  to {height: 1vh;}
}

/* ----------------------------------------------------------------------------- */