body {
  background-color: black!important;
  color: white!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ScrollBar */
::-webkit-scrollbar {
  display: none!important;
}
/* Track */
::-webkit-scrollbar-track {
  color: black;
  background-color: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  color: black;
  background-color: black;
}
/* ---------------------- */
.dummy {
  height: 0vh!important;
  display: none!important;
}

/* ---Main-App-Component--- */

.fullScreen {
  height: max-content!important;
  margin-bottom: 20vh!important;
}
.fullScreen::before {
  height: auto;
  content: "";
  background-image: url('./images/city-1.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0.5),
  rgba(0,0,0,0));
  animation: 16s fade-in-bg;
  opacity: 0.3;
}
@keyframes fade-in-bg {
  0% {opacity: 0;}
  35% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0.3;}
}



/* ---------react top scroll bar----------- */
.myScrollBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  animation: 14s fade-in;
}
@keyframes fade-in {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}