body {
  background-color: black!important;
  color: white!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  color: black;
  background-color: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  color: black;
  background-color: black;
}
/* -- */
/* ---Main-App-Component--- */
.dummy {
  height: 0vh!important;
  display: none!important;
}
.fullScreen {
  height: 100vh!important;
}
/* -------------------------------------------- */
